<div class="header-index">
  <ul class="bxslider">
    <li class="bs-img1" style="width: 100%; height: 320px"></li>
    <li class="bs-img2" style="width: 100%; height: 320px"></li>
    <li class="bs-img3" style="width: 100%; height: 320px"></li>
    <li class="bs-img4" style="width: 100%; height: 320px"></li>
  </ul>

  <h1>「街の収穫祭」</h1>
  <h2 class="title1">- 街や庭の果樹のシェアリングサイト -</h2>
  <h2 class="title2">街や庭の果樹は、管理者や持ち主にとってはやっかいなものなこともありますが、持っていない人にとってはうらやましいものであったりします。「街の収穫祭」Harvest Fes.は、街や庭の果樹のシェアを目的とするサイトです。</h2>
</div>

<% if user_signed_in? %>
  <%= render partial: "fruit" %>
<% else %>
  <%= render partial: "lp" %>
<% end %>

<script>
  $('.bxslider').bxSlider({
    auto: true,
  });
</script>
