// Place all the styles related to the fruits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// * {
//   box-sizing: border-box;
//   color: #165F65;
//   padding: 0;
//   margin: 0;
//   font-size: 16px;
// }

a {
  text-decoration: none;
}

// header {
//   background: #0000BB;
//   box-shadow: 0 2px 5px rgba(0,0,0,0.28);
//   padding: 10px 30px;
// }

header {
  height: 45px;
  background: #808080;
  padding: 0 0 0 10px;
  display: flex;
  align-items: center;

  h1 {
    font-size: 30px;
    color: #fff;
    width: 40%;
    display: inline-block
  }

  h2 {
    font-size: 20px;
    color: #fff;
    width: 35%;
    min-width: 120px;
    line-height: 21px;
    display: inline-block
  }

  h3 {
    font-size: 18px;
    color: #fff;
    line-height: 21px;
  }

  // .navbar {
  //   display: inline-block;
  //   position: absolute;
  //   right: 20px;
  // }

  .user_nav {
    margin-left: auto;
    a {
      font-size: 14px;
      border: 1px solid #fff;
      border-radius: 4px;
      padding: 3px 3px;
    }

    @media (max-width: 768px) {
      a {
        font-size: 12px;
        border: 1px solid #fff;
        border-radius: 4px;
        padding: 5px 3px;
      }
    }

    a:hover {
      background-color: #fff;
    }
  }

  a {
    margin-right: 10px;
    color: #fff;
    line-height: 16px;
  }

  a:hover {
    color: #79A9C2;
  }
}

.header-index {
  position: relative;
  text-align: center;
  // height: 100%;
  // max-width: 100%;

  .bs-img1 {
    background-image: url(/assets/kinkan.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // width: 100%;
    // height: 300px;
  }

  .bs-img2 {
    background-image: url(/assets/gumi.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bs-img3 {
    background-image: url(/assets/biwa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bs-img4 {
    background-image: url(/assets/ume.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    font-size: 30px;
    color: #fff;
    width: 100%;
    margin: auto;
  }

  .title1 {
    position: absolute;
    top: 68px;
    left: 0;
    right: 0;
    font-size: 20px;
    color: #fff;
    width: 90%;
    margin: auto;
    padding: 0 20px;
    // display: inline-block
  }

  .title2 {
    position: absolute;
    top: 128px;
    width: 75%;
    font-size: 18px;
    color: #fff;
    background-color: rgba(169,169,169,0.4);
    margin: auto;
    top: 120;
    bottom: 30;
    left: 0;
    right: 0;
    padding: 3px 20px;
    // min-width: 450px;
  }

  @media (max-width: 768px) {
    .title2 {
      position: absolute;
      top: 128px;
      width: 75%;
      font-size: 14px;
      color: #fff;
      background-color: rgba(169,169,169,0.4);
      margin: 10px auto;
      top: 120;
      bottom: 30;
      left: 0;
      right: 0;
      padding: 3px 20px;
    }
  }
}

.fruit_table {
  width: 95%;
  min-width: 300px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.28);
  margin: 10px 10px;
}

.fruit_table {
  th, td {
    padding: 5px 8px;
  }
  th {
    background: #5D99FF;
    color: #fff;
  }
  tbody tr:nth-child(even) {
    background: #D9E5FF;
  }
}

.user_table {
  width: 95%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.28);
  margin: 10px 10px;
}

.user_table {
  color: #696969;

  th, td {
    padding: 4px 4px;
  }
  th {
    background: #5D99FF;
    color: #fff;
    width: 100px;
  }

  tbody tr:nth-child(even) {
    background: #D9E5FF;
  }
}

.tab-menu {
  color: #696969;
}

.left, .center, .right {
  a {
    font-size: 14px;
    color: #6495ed;
    border: 1px solid #6495ed;
    border-radius: 4px;
    padding: 3px 1px;
    margin: 0px;
  }

  a:hover {
    color: #fff;
    background-color: #6495ed;
  }
}

.lp {
  text-align: center;
  background-color: #f5f5f5;

  h2 {
    font-size: 20px;
    margin: 0;
    padding: 15px 0 10px 0;
  }

  p {
    font-size: 17px;
    margin: 0;
    padding:0 0 13px 0;
  }

  .owner {
    color: #fff;
    padding: 2px 4px;
    background-color: #3cb371;
  }

  .guest {
    color: #fff;
    padding: 2px 4px;
    background-color: #ffa500;
  }

  .lp-outline {
    padding: 0 5px 30px 0;
    color: #696969;
    vertical-align: top;

    a {
      font-size: 14px;
      color: #6495ed;
      border: 1px solid #6495ed;
      border-radius: 4px;
      padding: 5px 7px;
      margin: 10px;
    }

    a:hover {
      color: #fff;
      background-color: #6495ed;
    }

    p {
      margin: 20px 5px 5px 0px;
      padding: 0 0 4px 0;
      width: 290px;
      height: 250px;
      // background-color: #fff;
      display: inline-block;
    }
  }

  .lp-user {
    padding: 40px 10px;
    background-image: url(/assets/komorebi.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

    h2 {
      background-color: rgba(169,169,169,0.4);
      width: 90%;
      padding: 20px 10px 10px 10px;
      display: inline-block
    }

    @media (max-width: 768px) {
      h2 {
      text-align: left;
      }
    }

    p {
      background-color: rgba(169,169,169,0.4);
      width: 90%;
      padding: 3px 10px;
      line-height: 120%;
      display: inline-block
    }

    @media (max-width: 768px) {
      p {
      text-align: left;
      }
    }
  }

  .lp-harvest {
    padding: 40px 10px;
    background-image: url(/assets/mikaku.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

    h2, p {
      background-color: rgba(169,169,169,0.4);
      width: 95%;
      display: inline-block
    }
    @media (max-width: 768px) {
      h2, p {
      text-align: left;
      }
    }
  }

  .lp-fruit {
    background-color: #dcdcdc;
    color: #696969;

    h2 {
      margin: 0px 0px 0px 0px;
      padding: 30px 0 0 0;
    }

    li {
      list-style: none;
      margin: 5px 30px 5px -20px;
      padding: 0 0 10px 0;
      width: 270px;
      height: 100%;
      background-color: #fff;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    a {
      font-size: 14px;
      color: #6495ed;
      border: 1px solid #6495ed;
      border-radius: 4px;
      padding: 5px 7px;
      margin: 10px;
    }

    a:hover {
      color: #fff;
      background-color: #6495ed;
    }
  }
}

.harvest-li {
  text-align: center;
  font-size: 9px;
  color: #696969;

  h2 {
    font-size: 20px;
    margin: 0;
    display: inline-block;
  }

  li {
    margin: 4px 30px 4px -27px;
    padding: 0 0 4px 0;
    width: 100px;
    height: 100%;
    background-color: #fff;
    display: inline-block;
  }

  a {
    color: #6495ed;
    border: 1px solid #6495ed;
    border-radius: 4px;
    padding: 2px 7px;
    margin: 10px;
  }

  a:hover {
    color: #fff;
    background-color: #6495ed;
  }

  .btn {
    color: #6495ed;
    background-color: #f5f5f5;
    font-size: 15px;
    border: 1px solid #6495ed;
    border-radius: 4px;
    padding: 5px 30px;
    margin: 0px;
  }

  .btn:hover {
    color: #fff;
    background-color: #6495ed;
  }
}

.harvest-d {
  margin: 0 10px;
  width: 95%;

  table {
    background: #d3d3d3;

    th, td {
      padding: 5px 10px;
      color: #696969;
    }

    th {
      background: #f5f5f5;
      min-width: 70px;
    }

    td {
      background: #fff;
    }
  }

  a {
    color: #6495ed;
    border: 1px solid #6495ed;
    border-radius: 4px;
    padding: 2px 7px;
    margin: 0 0 10px 0;
    display: inline-block;
    width: 250px;
    text-align: center;
  }

  a:hover {
    color: #fff;
    background-color: #6495ed;
  }
}

.harvest-d-review {
  color: #696969;

  h3 {
    margin: 13px 8px 0 8px;
  }

  ul {
    margin: 0 10px;
    padding: 0;
  }
}

.harvest-d-member {
  margin: 20px;

  table {
    background: #d3d3d3;
    font-size: 12px;

    th, td {
      padding: 5px 15px;
      color: #696969;
    }

    th {
      background: #f5f5f5;
    }

    td {
      background: #fff;
    }
  }
}

.review-new {
  .btn {
    color: #6495ed;
    background-color: #f5f5f5;
    font-size: 15px;
    border: 1px solid #6495ed;
    border-radius: 4px;
    padding: 5px 15px;
    margin: 0px;
  }

  .btn:hover {
    color: #fff;
    background-color: #6495ed;
  }
}

.contents-login {
  color: #fff;
  margin: 0;
  padding: 30px;
  background-image: url(/assets/komorebi.jpg);
  text-align: center;

  .actions {
    .btn {
    color: #6495ed;
    background-color: #f5f5f5;
    border: 1px solid #6495ed;
    border-radius: 4px;
    padding: 5px 7px;
    margin: 0 0 25px 0;
    width: 270px;
    font-size: 15px;
    text-align: center;
    }

    .btn:hover {
      color: #fff;
      background-color: #6495ed;
    }
  }
}

.contents-login-new {
  background-image: url(/assets/fruits.jpg);
  background-size: cover;
}

.member-join {
  margin: 0;
  padding: 30px;
  text-align: center;

  .actions {
    .btn {
    color: #6495ed;
    background-color: #f5f5f5;
    border: 1px solid #6495ed;
    border-radius: 4px;
    padding: 5px 7px;
    margin: 0 0 25px 0;
    width: 270px;
    font-size: 15px;
    text-align: center;
    }

    .btn:hover {
      color: #fff;
      background-color: #6495ed;
    }
  }
}

.contents-login-fruit {
  background-color: #8fbc8f;
  background-image: none;
}

.contents-login-harvest {
  background-color: #ffa500;
  background-image: none;
}

.notice {
  color: #fff;
  background-color: #4169e1;
  padding: 2px 10px;
  margin: 0;
  text-align: center;
}

.dummy-mail {
  color: #696969;
  width: 33%;
  min-width: 300px;
  padding: 0 10px;
  font-size: 13px;

  a {
    color: #6495ed;
    border: 1px solid #6495ed;
    border-radius: 4px;
    padding: 2px 7px;
    margin: 0 0 10px 0;
    display: inline-block;
    width: 200px;
    text-align: center;
  }

  a:hover {
    color: #fff;
    background-color: #6495ed;
  }
}
