<!-- <a>収穫参加者一覧</a>
  <table class="fruit_table">
    <thead>
      <tr>
        <th>member_id</th>
        <th>harvest_id</th>
      </tr>
    </thead>

    <tbody>
      <% @members.each do |member| %>
      <tr>
        <td><%= member.id %></td>
        <td><%= member.harvest_id %></td>
      </tr>
      <% end %>
    </tbody>
  </table> -->
